.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

#icon-fechar{
  width: 25px;
}

#icon-concluida{
  width: 20px;
}

.done{
  text-decoration: line-through;
  font-weight: bold;
}